.details-container {
  max-width: 850px;
  margin: 0 auto;
  padding: 30px 20px;
  font-family: "Poppins", sans-serif;
}

/* BACK BUTTON */
.back-btn {
  background: none;
  border: none;
  font-size: 18px;
  margin-bottom: 15px;
  cursor: pointer;
  color: #333;
}

/* MAIN IMAGE */
.details-img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 20px;
}


/* TITLE */
.details-title {
  font-size: 32px;
  color: #1a237e;
  margin-bottom: 15px;
  text-align: center;
}

/* DAYS + PRICE BOXES */
.details-info-row {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}

.details-days {
  background: #0BA82C;
  color: white;
  padding: 8px 20px;
  border-radius: 6px;
  font-weight: bold;
}

.details-price {
  background: #FFD93D;
  color: #222;
  padding: 8px 20px;
  border-radius: 6px;
  font-weight: bold;
}

/* SECTIONS */
.details-section {
  margin-bottom: 30px;
}

.details-section h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #6A0DFF;
}

.details-section p {
  font-size: 16px;
  color: #444;
  line-height: 1.6;
}

.details-section ul {
  padding-left: 20px;
}

.details-section li {
  font-size: 16px;
  margin-bottom: 6px;
  color: #444;
}

/* BOOK BUTTON */
.details-book-btn {
  background: #6A0DFF;
  color: white;
  border: none;
  width: 100%;
  padding: 14px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
  transition: 0.3s;
}

.details-book-btn:hover {
  background: #5200d4;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .details-title {
    font-size: 26px;
  }

  .details-img {
    height: 250px;
  }

  .details-info-row {
    flex-direction: column;
    gap: 12px;
  }
}
