.package-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 120px;
  padding: 40px 20px;
  background: #eef3ff;
  border-radius: 12px;
  text-align: center;
}

.img-wrapper {
  width: 100%;
}

.package-img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 25px;
}

.package-title {
  font-size: 32px;
  font-weight: 700;
  color: #102a87;
  margin: 20px 0;
}

.package-info-row {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 25px;
  font-size: 18px;
  color: #333;
}

/* DAYS COLOR */
.package-days-red {
  color: #d40000 !important;
  font-weight: bold;
  font-size: 20px;
}

.package-price {
  color: #d40000 !important;
  font-weight: bold;
}


/* ABOUT TITLE GREEN */
.about-title {
  margin-top: 20px;
  font-size: 22px;
  color: #1b8a3a;    /* GREEN */
  font-weight: 700;
}

.package-description {
  font-size: 17px;
  max-width: 800px;
  margin: 10px auto 0 auto;
  color: #444;
}

/* BUTTONS IN CENTER */
.buttons-section {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 30px;
}

/* BACK BUTTON — BLUE */
.btn-back {
  background: #1e3a8a;      /* DARK BLUE */
  color: white;
  padding: 12px 28px;
  border-radius: 30px;      /* OVAL */
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.btn-back:hover {
  background: #142b66;
}

/* BOOK NOW — OVAL BUTTON */
.btn-book {
  background: #4b2ae8;
  color: white;
  padding: 12px 35px;       /* Bigger */
  border-radius: 40px;      /* More Oval */
  border: none;
  font-size: 17px;
  cursor: pointer;
}

.btn-book:hover {
  background: #351bb3;
}
